@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    background-color: #000;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}
.component-login{    
    position: relative !important;
    top: 160px !important; 
    margin-left: 500px !important;
    margin-right: 500px !important;
    justify-content: center;
    width:30%;
    border: #000 3px solid;
    border-radius: 55px;
    padding-bottom: 1%;
}
.component-register{
    position: relative !important;
    top: 110px !important; 
    margin-left: 500px !important;
    margin-right: 500px !important;
    justify-content: center;
    width:30%;
    border: #000 3px solid;
    border-radius: 55px;
    padding-bottom: 1%;
}
.header{
    margin-top: 5%;
    text-align: center !important;
}
.input-field{
    width: 80% !important;
    margin-left: 50px;
}
.input-name{
    margin-left: 50px;
}
.login-btn{
    margin-top: 3%;
    margin-left: 40%;
    margin-bottom: 5%;
}
.register{
    text-decoration: none !important;
}

.register :hover{
    color:#000;
}
/* 
html,body{
    text-align: center !important;
    font-family: 'Roboto Slab', serif;
    color: white !important;
}
.header{
    text-align: center !important;
}
.login-form{        
    position: relative !important;
    top: 160px !important; 
    margin-left: 500px !important;
    margin-right: 500px !important;
    border-style: solid !important;
    border-color: white !important;
    border-radius: 55px !important;
    padding: 2% !important;
    
}

.register-form{        
    position: relative !important;
    top: 100px !important; 
    margin-left: 500px !important;
    margin-right: 500px !important;
    border-style: solid !important;
    border-color: white !important;
    border-radius: 55px !important;
    padding: 2% !important;
    
}

.input{
    text-align: center !important;
    background-color: rgb(22, 17, 17) !important;    
    /* border-radius: 25px !important;
    border: 1px solid white !important;
    padding: 20px !important; 
    width: 200px !important;
    height: 15px !important;   
}


h1{
    color: white;
}
p{
    color: white;

} */

