@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    background-color: #000;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.component-login{    
    position: relative !important;
    top: 160px !important; 
    margin-left: 500px !important;
    margin-right: 500px !important;
    justify-content: center;
    width:30%;
    border: #000 3px solid;
    border-radius: 55px;
    padding-bottom: 1%;
}
.component-register{
    position: relative !important;
    top: 110px !important; 
    margin-left: 500px !important;
    margin-right: 500px !important;
    justify-content: center;
    width:30%;
    border: #000 3px solid;
    border-radius: 55px;
    padding-bottom: 1%;
}
.header{
    margin-top: 5%;
    text-align: center !important;
}
.input-field{
    width: 80% !important;
    margin-left: 50px;
}
.input-name{
    margin-left: 50px;
}
.login-btn{
    margin-top: 3%;
    margin-left: 40%;
    margin-bottom: 5%;
}
.register{
    text-decoration: none !important;
}

.register :hover{
    color:#000;
}


@media(max-width:1400px){
    .component-login, .component-register{
        margin-left:400px !important;
    }
    .input-field, .input-name{
        margin-left: 40px;
    }
}

@media(min-width:1025px) and (max-width:1201px){
    .component-login, .component-register{
        margin-left:340px !important;
        width: 35%;
    }
    .input-field, .input-name{
        margin-left: 35px;
    }
}

@media(min-width:769px) and (max-width:1024px){
    .component-login, .component-register{
        margin-left:200px !important;
        width: 45%;        
        padding-bottom: 5%;
    }
    .input-field, .input-name{
        margin-left: 35px;
    }
}

@media(min-width:481px) and (max-width:768px){
    .component-login, .component-register{
        margin-left:100px !important;
        width: 62%;        
        padding-bottom: 5%;
    }
    .input-field, .input-name{
        margin-left: 35px;
    }
}

@media(max-width:480px){
    .component-login, .component-register{
        margin-left:50px !important;
        width: 70%;        
        padding-bottom: 5%;
    }
    .input-field, .input-name{
        margin-left: 30px;
    }
}

