<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
  <div class="full-page">
    <div class="topnav Main_Header" id="myTopnav">
      <a href="/home">Todo</a>      
      <a href="/logout" class="logout">Logout</a>
      <div class="search-container">
        <form action="/home" class="Header_search">
          <input type="text" placeholder="Search..." class="search-bar" name="search">
          <button type="submit" class=" search-bar-icon"><i class="fa fa-search"></i></button>
        </form>
      </div>
      
    </div>
    <div>
      <div class="w3-container">
        <div class="w3-panel w3-card-4 w3-yellow todo-list"><p class="todo-header"><%= username %>'s Todo-list</p>
          <% for(var i=0; i<tasks.length; i++) { %>
            <% if(tasks[i].author === username){ %>
              <form action="/delete" method="POST">
              <ul class="list-group-item task-items">
                <a class="bullets " href="edit-task/<%= tasks[i]._id %>">&bull; <%= tasks[i].title%></a>
                <button name= "delete" type= "submit" class="fa fa-trash-o delete-icon delete-task" role="button" aria-pressed="true" value="<%= tasks[i]._id %>"></button>
                <% } %>
              </ul>
              <% } %>
              <a href="/task-form" class="btn btn-lg fa fa-plus add-task-button " role="button" aria-pressed="true"></a>
            </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>
</html>

